<div class="row">
  <div class="row">
    <div class="col-md-12 ml-3">
      <form [formGroup]="form" (ngSubmit)="_submitForm()">
        <div class="form-group">
          <input type="text" formControlName="id" class="form-control" placeholder="Id">
        </div>
        <div class="form-group">
          <input type="text" formControlName="text" class="form-control" placeholder="Text">
        </div>
        <div class="form-group">
          <input type="text" formControlName="property" class="form-control" placeholder="Property">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!form.valid">Aceptar</button>
        <div class="row mt-3">
          <div class="col-md-12 mb-2">
            <button class="btn btn-primary" (click)="_addCountry()">Nuevo pais</button>
            <br>
          </div>
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <td>
                    Id
                  </td>
                  <td>
                    Nombre
                  </td>
                  <td>
                    Opcion
                  </td>
                </tr>
              </thead>
              <tbody formArrayName="countries">
                <tr *ngFor="let item of form.get('countries').controls; let i = index;">
                  <ng-container [formGroupName]="i">
                    <td>
                      <input type="text" formControlName="id" class="form-control">
                    </td>
                    <td>
                      <input type="text" formControlName="name" class="form-control">
                    </td>
                    <td>
                      <button class="btn btn-danger" (click)="_removeCountry(i)">X</button>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th>
          Columna 1
        </th>
        <th>
          Columna 2
        </th>
        <th>
          Columna 3
        </th>
        <th>
          Opciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listData">
        <td>
          {{item.id}}
        </td>
        <td>
          {{item.text}}
        </td>
        <td>
          {{item.property}}
        </td>
        <td>
          <button class="btn btn-success">Editar</button> &nbsp;
          <button class="btn btn-danger" (click)="_deleteItem(item.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>