<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>
        postId
      </th>
      <th>
        Id
      </th>
      <th>
        name
      </th>
      <th>
        email
      </th>
      <th>
        body
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <td>
        {{item.postId}}
      </td>
      <td>
        {{item.id}}
      </td>
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.email}}
      </td>
      <td>
        {{item.body}}
      </td>
    </tr>
  </tbody>
</table>